html, body {
  height: 100vh;
  margin: 0;
  display: flex;
}


app-hero {
  display: block;
  position: relative; /* NE SME biti absolute ili fixed */
  width: 100%;
  min-height: 500px; /* Prilagodi visinu */
  padding: 50px 0;
}

app-movies {
  display: block;
  position: relative;
  width: 100%;
  padding: 20px;
}